{% if form %}
    {{ form.account.name }}
    {{ form.account.mail }}
    {{ form.account.pass }}
    {{ form.form_build_id }}
    {{ form.form_id }}
    {{ form.actions.submit }}
{% endif %}
<div>*Form template</div>